data/raw/election_data/**.csv filter=lfs diff=lfs merge=lfs -text
data/raw/election_data/2020_precinct_state/**.csv filter=lfs diff=lfs merge=lfs -text
data/raw/**.csv filter=lfs diff=lfs merge=lfs -text
