@charset "utf-8";
/* CSS Document */

/* =Common content styles
-----------------------------------------------------------------------------*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, fieldset {margin:0;padding:0;}
body {
	border: none;
	margin: 0px;
	padding: 0px 0 0 0px;
	background: #EDF5F7;
	text-align: center;
	font-size: 62.5%;
	}
p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	line-height:1.5em;
	font-size:1em;
	}
h1 {
	margin: 20px 0 12px 0;
	color: #535353;
	font-size: 1.6em;
	}
h2 {
	margin: 18px 0 6px 0;
	color: #666;
	font-size: 1.2em;
	font-weight:bold;
	}
h3, h4 {
	padding: 5px 0 3px 0;
	color: #054785;
	font-size:1em;
	}
hr {
	color: #A3C1E0;
	background-color: #e2e3e3;
	display:block;
}
address {
	margin: 1em 0;
	line-height:1.4em;
	font-style: normal;
	}

a {
	font-style:normal;
	color:#1875b6;
	text-decoration:none;
	}
a:hover { text-decoration:underline;}

/*a:hover {border-bottom:1px dotted #4297e6;}*/

.breadcrumb a:active, .breadcrumb a:focus, .content a:active, .content a:focus, #sf_footer a:active, #sf_footer a:focus, #contents a:active, #contents a:focus{background-color:#d0eefe;}
a:visited {color:#626A70; text-decoration:underline;}

h1 acronym, p acronym {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	}

/* LISTS in Content Area
----------------------------------------------------------------------*/
 ul {
	margin: 5px 0px 0px 0px;
	color: rgb(69, 69, 69);
	font-size:1em;
	line-height: 1.15em;
	}
/* ul li { boring bulleted list
	color: #000;
	line-height:.75em;
	margin:3px 0 5px 0;
	list-style-position: outside;
	font-size:1.2em;
	list-style-image: none;
	list-style-type: disc;
	}*/

.container ul li, #contents ul li { /*this won't effect SFGOV header and footer ul li */
	margin:0px 0 5px 16px;
	list-style-image: url("../_gfx/sfgov/arrows.gif");
	line-height: 1.35em;
}
.container ol li, #contents ol li { /*this won't effect SFGOV header and footer ul li */
	margin:10px 0 5px 16px;
	line-height: 1.35em;
}
	
.container ol ul li, #contents ol ul li, .container ul ul li, #contents ul ul li { /*this won't effect SFGOV header and footer ul li */
	margin:0px 0 2px 16px;
	list-style-image: url("../_gfx/sfgov/arrows.gif");
}
	
.container ol ul ul li, #contents ol ul ul li, .container ul ul ul li, #contents ul ul ul li { /*this won't effect SFGOV header and footer ul li */
	margin:0px 0 0px 16px;
	list-style-image: url("../_gfx/sfgov/arrows.gif");
}
	


 ol li {
	color: rgb(69, 69, 69);
	line-height:1.15em;
	margin:0px 0 5px 16px;
	}
	
/*TABLE OF CONTENTS
----------------------------------------------------------------------*/
 ol.roman-alpha {
	margin-top:.5em;
	}
 ol.roman li {
	list-style-type: upper-roman;
	color:#000;
	line-height:1.5em;
	list-style-position: outside;
	}
 ol.roman-alpha li {
	list-style-type: upper-roman;
	color:#000;
	line-height:1.5em;
	list-style-position: outside;
	}
ol.roman-alpha li ol li {
	list-style-type: lower-alpha;
	color:#000;
	line-height:1.5em;
	list-style-position: outside;
	margin-left:1em;
	}

/*-----Definition Lists --------*/
dl {
	margin:12px 0 24px 0;
	padding:0;
	line-height:1.3em;
	}
dt {
	font-weight: bold;
	margin:0 0 5px 0;
	color:#666;
	font-size: 1.2em;
	}
dd {
	margin:0 0 1.2em 0;
	}

/* DATA TABLE STYLES
----------------------------------------------------------------------- */
th {
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
	background-color: #369;
	text-align: center;
	}

/* OTHER STYLES
----------------------------------------------------------------------- */
	
pre {
	font-size:120%;
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
	}
.blue {color: #369;}
.red {color: #900;}
.faq {color: #900;}

.clearer{height:1px;margin-top:-1px;clear:both}

cite {letter-spacing:0.05em;font-size:small}

/* SAY INSTEAD properties
-----------------------------------------------------------------------*/
.ada {
	say-instead: "A D A";
	}
.sec508 {
	say-instead: "Section five oh eight";
	}
.tty {
	say-instead: "T T Y";
	}
	
/* widgets 
----------------------------------------------------------------------------*/
/* Class for clearing floats */
.clear {
	clear:both;
	}
/* Remove border around linked images */
img {
	border: 0;
	}
	
	/* FOOTNOTE PRINT FUNCTIONALITY
----------------------------------------------------------------------------*/
.printOnly {
  display: none;
	}
	
/* LINK CUES 
---------------------------------------------------------------------------*/

a[href$='.pdf']:and([target="_blank"]) { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}

a[href$='.doc']:and([target="blank"]) { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_doc.gif") no-repeat center right;
}

a[target="_blank"]:not([title^="Download"]):not([href*="documentid"]):not([href$=".pdf"]):not([class="dropdownitemlevel1"]):not([href*="index.aspx?page"]):not([href*="Rss.aspx?"]):not([href*="new?topic_id=CASFPD"]) /* added new?topic_id=CASFD to mask GovDelivery subscribe buttons 01/28/16 MT */{
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right;
} 
a[target=_blank]:not([title^=Download]):not([href*=documentid]):not([href$=.pdf]):not([class=dropdownitemlevel1]):not([href*=index.aspx?page]):not([href*="Rss.aspx?"]):not([href*="new?topic_id=CASFPD"]) /* added new?topic_id=CASFD to mask GovDelivery subscribe buttons 01/28/16 MT */{
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right;
} 
a[target=blank]:not([title^=Download]):not([href*=documentid]):not([href$=.pdf]):not([class=dropdownitemlevel1]):not([href*=index.aspx?page]):not([href*=Rss.aspx?type]):not([href*="new?topic_id=CASFPD"]) /* added new?topic_id=CASFD to mask GovDelivery subscribe buttons 01/28/16 MT */{
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right;
} 

/* INFO ICON FOR GLOSSARY LINKS
a[href*='index.aspx?page=2754'] {
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_info.gif") no-repeat center right;
}
*/

/* all A tags whose TARGET attribute ends including _blank in IE6 ONLY IE6 ONLY IE6 ONLY IE6 ONLY */
* html a[target*='_blank']{
	padding-right: 18px\0/;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right\0/;
}

/* all A tags whose TARGET attribute ends including _blank in IE7 ONLY IE7 ONLY IE7 ONLY IE7 ONLY */
*+html a[target*='_blank']{
	padding-right: 18px\0/;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right\0/;
}

/* all A tags whose TARGET attribute ends including _blank in IE8 ONLY IE8 ONLY IE8 ONLY IE8 ONLY */
a[target*='_blank']{
	padding-right: 18px\0/;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right\0/;
}

/* all A tags whose HREF attribute ends in .pdf */
a[href*='.pdf'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}

/*  all A tags whose HREF attributes has the letters documentid somewhere mixed in*/
a[href*='documentid'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}



/* all A tags whose REL attribute equals pdf */
a[rel='pdf'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}

/*  all A tags whose REL attributes has the letters pdf somewhere mixed in*/
a[rel*='pdf'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}

/* all A tags whose REL attribute contains the value pdf, seperated from other values with a space */
a[rel~='pdf'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_pdf.gif") no-repeat center right;
}

a.img[href$='pdf'] { 
	background: none;
	padding-right:0px;
}


/*  all A tags whose REL attributes has the letters pdf somewhere mixed in*/


/* all A tags whose HREF attribute starts with mailto: */
a[href ^="mailto:"] {
	padding-right: 18px;
    background: transparent url("../_gfx/sfgov/icon_mailto.gif") no-repeat center right;
   
}

/* all A tags whose CLASS attribute is popup */
a[class ="popup"] {
	padding-right: 18px;
    background: transparent url("../_gfx/sfgov/icon_popup.gif") no-repeat center right;
}

a[href$='.doc'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_doc.gif") no-repeat center right;
}
a[href$='.xls'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_xls.gif") no-repeat center right;
}
a[href$='.ppt'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_ppt.gif") no-repeat center right;
}
a[href$='.ppsx'] { 
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_ppt.gif") no-repeat center right;
}
a[rel~='external'] {
	padding-right: 18px;
	background: transparent url("../_gfx/sfgov/icon_external.gif") no-repeat center right;
}

