@charset "utf-8";
/* CSS Document */
/************************************************
This is the custom style sheet for planning, containing styles that will be customized for each project.
************************************************/
/**********************************************************************************************
Base font style and size set here
************************************************/
body {
	border: none;
	margin: 0px;
	padding: 0px 0 0 0px;
	background: url("../_gfx/dept_images/backg.jpg") top no-repeat #d9d9d9;
	text-align: center;
	}

table img { margin: 0;}
table {	font-size: 11pt;}
table th {background-color:#369; color:#fff}

body,td,th,p,select,li,ul,input,blockquote,textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:1.25em;
	}
	
/* blockquote styling added by MT 80/20/13 */
.blockquote {
	background-color: #ffffcc;
	padding: 2px;
}

/* styling added by MT 6/17/15 */
p.anchor {
    margin-top: -22px;
}
	
p {
line-height:1.35em;
color: #454545;
	}
	
a {color:#1875b6;}
.mainSpan_wrapper .container .content a {color:#1875b6;}

.mainSpan_wrapper_home .width_container .container .content a:visited, .mainSpan_wrapper .container .content a:visited {color:#1875B6;text-decoration: none;}
.mainSpan_wrapper .container .content a:hover {text-decoration:underline;}
.mainSpan_wrapper .container .content a:hover img {border-bottom:0px;}

a img {border: 0;}
a:link img {border:0; background-color:transparency;}
a:visited img {border:0; background-color:transparency;}
a:hover img {border:0; background-color:transparency; /*margin:0; padding:0;*/}
a:active img, a:focus img {background-color:transparency;}

h1, h2, h3, h4 {color:#2a4a88; font-family: Arial, Helvetica, sans-serif; font-weight:bold; clear:both;}
h5 {color:#333; font-family: Arial, Helvetica, sans-serif; font-weight:bold; clear:both;}

/* Default error reporting style */
.error_message { 
	color: #c60;
	font-weight:bold;	}

/* Use :after instead of clear:both because IE adds a space with clear:both */
.clearfix:after, .mainSpan:after, .contentheader:after, .container:after,.content:after, .title:after,.width_container:after{ 
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}
.clearfix, .mainSpan, .contentheader, .container,.content, .title_right,.width_container {display:inline-block;}

/* Hide from IE-mac \*/
* html.clearfix,
* html.mainSpan, * html.contentheader, * html.container,
* html.content, * html.title_right,
* html.width_container {height:1%;}
.clearfix,
.mainSpan,
.contentheader,
.container,
.content,
.title_right,
.width_container {display:block;}
/* End hide from IE-mac \*/

/* Containing frame for the site */
.mainSpan_wrapper,
.mainSpan_wrapper_home,
.mainSpan_wrapper_noleftnav,
.mainSpan_wrapper_review {width: 100%; padding: 0; margin: 0;}
.mainSpan {width: 974px; margin:auto; text-align:left;}

/*********************************************
		WIDTH CONTAINER & CONTENT WRAPPERS
*******************************************

.mainSpan_wrapper_home .width_container{width:972px; margin: 0 0 0 18px; padding: 0; background-repeat: repeat-y;}
.mainSpan_wrapper .width_container{margin: 0 0 0 18px; padding: 0; background-repeat: repeat-y;}
.mainSpan_wrapper_noleftnav .width_container, .mainSpan_wrapper_review .width_container{width: 972px; margin: 0 0 0 18px; padding: 0; background-repeat: repeat-y;}
*/
.adminSpan {width:200px; float:right; text-align:left;}
.content iframe {width: 100%; margin-left: 0px; border: none;}
iframe.external_link {background: none;}

/************************************************
Header: contains search, top links, site logo 
************************************************/

/* Section 508 skip navigation menu */
.skipnav { 
    position:absolute; 
    top:0px; 
    left:0px; 
    z-index:10; display:none;}
.skipnav img {border:0px; width:1px; height:1px; display:none /*block*/; float:left;}

/************************************************
Content header:  page title, breadcrumb, printer friendly link
************************************************/

/* Page content container */
.contentheader {display:inline-table; margin-top:0; width: 740px;/*padding: 0 0 0 10px;*/}
.contentheader_banner {display:inline-table; background: none;}
.image_banner {display: block;}
.breadcrumb_wrapper {padding: 41px 3px 0px 15px; font-size:11px; background: none; color: #517a8c;}
.contentheader_banner .breadcrumb_wrapper {padding: 0px 3px 0px 15px; font-size:0.8em; background: none; color: #517a8c; background: #d5eaff ;}
.breadcrumb{margin-bottom: -16px;font-family:Arial, Helvetica, sans-serif;font-size:10px;height: 20px;}
.breadcrumb a { color: #517a8c;}
.breadcrumb a:hover{border-bottom: text-decoration: underline;}
.breadcrumb a:first-child{}

.title {background: #fff ; border-bottom: 1px dotted #cccccc; width: 738px; /* formerly 724px, formerly width:100%; */ margin: 10px 0px 5px 0px; padding-bottom:5px;}
.contentheader_banner .title {background: none; border-bottom: 0px solid #eee9ca; width:100%; margin: 28px 0px 5px 0px;}
.title_right {text-align:right; height:20px; padding:0px 5px 0px 0px; margin: 10px 10px 0px 0; float: right; /* width:30%; hidden to allow .title_left to run wider MT 06/10/14 */}
.title_left {float: left; width: 95%; /* increased from 65% MT 06/10/14 */}

.contentheader h1,
.contentheader_banner h1 {
	padding:0px 15px 3px 15px;
	margin:0px 0px 0px 0px; 
	float: left;
    color: #00ccff;
    font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
    line-height: 26px;
}
.contentheader h2,
.contentheader_banner h2 {padding:5px 0px 0px 15px; margin:0px 0px 10px 15px; float: left; /* width:560px; hidden by MT 09/02/15 */  font-size:13px; line-height:20px; /* font-weight: bold; */ color: #919195 !important; font-style:italic;}

.rss{float: left;}
/* hiding to remove from homepage MT 902215 - see also line 685 re text-indent offset .rss a {background:url("../_gfx/int/rss.gif") 0 0 no-repeat;} */
.rss a {display:block; padding-left:20px; text-decoration:underline;}
.rss a:hover {text-decoration:none;}

.mainSpan_wrapper_home .content  {padding: 5px 5px 10px 7px;}
.mainSpan_wrapper .content {padding: 10px 0 36px 16px; float:left; vertical-align:top; width:700px;}

.last_updated {font-family: Arial, Helvetica, sans-serif;font-size:10px;padding-top:25px;color:#666;}
/************************************************
Content: main content area
************************************************/

/* Content: padding should be on content class NOT container 

.mainSpan_wrapper .content,
.mainSpan_wrapper_noleftnav .content,
.mainSpan_wrapper_review .content { padding: 10px 15px 25px 15px;}
.mainSpan_wrapper .content textarea,
.mainSpan_wrapper_noleftnav .content textarea,
.mainSpan_wrapper_review .content textarea {width:525px;}
.mainSpan_wrapper .content ul,
.mainSpan_wrapper_noleftnav .content ul,
.mainSpan_wrapper_review .content ul {padding:0px; margin:8px 0 10px 20px;}
.mainSpan_wrapper .content ul li,
.mainSpan_wrapper_noleftnav .content ul li,
.mainSpan_wrapper_review .content ul li {padding: 2px 0px; }

.downloadmessage {clear: left; background: #fff; border:solid 1px #00639c; text-align:center; width: 85%; margin: 10px auto; padding: 0;}
.downloadmessage img {border:0px; padding:0px 0px 0px 0px; margin:0px 2px 0px 2px;}
.downloadmessage p {color: #4b4638; font-size:10px; padding:5px 0px; margin:0px;}
.last_updated {background: url("../_gfx/cmn/updated.gif") top center no-repeat; width: 90%;color:#aba28f; font-size:9px; margin: 20px auto 0px auto; text-align:right; display: none;}
.paging {margin-top:10px; margin-bottom:10px;}
*/

/* Homepage 
.mainSpan_wrapper_home .container {padding:0; margin:0;}
*/
/*.mainSpan_wrapper_home .fix_intheight { display: none;}
.mainSpan_wrapper_home .contentheader {display:none;}
.mainSpan_wrapper_home .content ul {padding:0px; margin:0;}
.mainSpan_wrapper_home .content ul li {padding: 0px 0px; }
*/
/* Review and error pages 
.mainSpan_wrapper_review .container {width: 760px; background-color:#ffffff; margin: 0; padding: 0 0 10px 0; }	
*/
/*.mainSpan_wrapper_review .fix_intheight { display: none;}
.mainSpan_wrapper_review .contentheader {display:none;}
.mainSpan_wrapper_review .content { padding: 0;}
.mainSpan_wrapper_review .component_title_review {margin: 0px; width: 730px; border-bottom: solid 3px #C5E3FF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; padding:50px 15px 3px 15px; color: #01507f; line-height: 24px;}
.mainSpan_wrapper_review .component_title_review h1 {padding:50px 15px 3px 15px; margin:0px 0px 0px 0px; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color: #01507f; line-height: 24px;}
.mainSpan_wrapper_review .component_title, 
.mainSpan_wrapper_review .component_subtitle, 
.mainSpan_wrapper_review .component_listitem {margin-left: 20px;}
.mainSpan_wrapper_review .content > div {padding-left: 15px;}
.mainSpan_wrapper_review .component_content {width: 720px; padding: 0px 0px; margin: 0 20px; background-color:#ffffff;}
*/
/* Hide review title for all except for review 
.mainSpan_wrapper .component_title_review,
.mainSpan_wrapper_noleftnav .component_title_review,
.mainSpan_wrapper_home .component_title_review {display:none;}
*/

/************************************************
Forms
************************************************/
.form {height:auto;}
.form_in_tab {padding:15px 0 10px 10px;}
.form div {width:auto; margin-top:8px; margin-bottom:8px; clear: both;}
.form textarea {width:200px; height:150px;}
.form_label {padding-top:3px; font-weight: bold; height:20px; float: left; width: 150px; text-align: left; vertical-align:middle;}
.form_field {height:20px; float: right; width: 550px; text-align: left; vertical-align:middle;}
legend {font-weight: bold; color:#625C4D;}
fieldset {border:solid 1px #c2bca6;}
.form_normaltextbox {width:300px; border: 1px solid #c2bca6; background-color: #fdfaed; height:19px; padding:2px 3px;}
.form_normaldropdown {width:300px; border: 1px solid #c2bca6; background-color: #fdfaed; height:17px; padding-left:3px;	}
.form_button {background: #082956 url("../_gfx/int/form_button.gif") top repeat-x; font-family:Tahoma; font-size: 11px; font-weight:bold; padding: 2px; color: #fafafa; border: 1px solid #031b37;}
.form_message, 
.form_message td {color: #cc0000;}
.form_calendarbutton {vertical-align: top; border:0; cursor: pointer;}
.backbutton {padding-left: 15px; font-weight: bold;  background-repeat: no-repeat; margin-bottom: 10px;}
.backbutton a {}
.radeditor div {margin-top:0; margin-bottom:0;}


/************************************************
Google Search
************************************************/
.gs-result, .gs-webResult {border-bottom:1px solid #b2d2e9;}
.gs-title {	font-weight:bold; font-size:12px; margin-top:10px;}
.gs-snippet {padding: 10px 0 0 10px; border-top:1px solid #b2d2e9; border-bottom:0;}
.gs-visibleUrl-long { display:block; }
.gs-visibleUrl-short { display:none; }
table.gsc-branding { display:none; }
td.gsc-branding-text { display:none; }
div.gsc-branding-text { display:none; }
td.gsc-branding-img { display:none; }
a.gsc-branding-clickable { display:none; }
.gsc-keeper{ display:none; }
.gsc-result div.gs-watermark { display: none; }
.gsc-resultsHeader { display: none; }

/************************************************
Lists, including DataGrid classes
************************************************/
.alphabetpicker a {font-family: Tahoma, Arial, Sans-Serif; font-size:11px;}
/* For links on top of page */

.topselector {margin: 10px 0;}
/* For dropdown filters */

.filter {margin: 10px 10px 10px 0px;}
.filter select {font-family: Tahoma, Arial, Helvetica, Sans-Serif; font-size:11px; width:200px;}
.timing {}
/*** MT: changed width from 550px to 700px to fill page 081613 **/
.listtable {width:700px; border:1px solid #00639c !important; background-color:#fbfdff; border-collapse:separate; margin: 10px 0;}
.listtable th {background-color: #00639c; padding:4px; font-size: 10px; font-weight: bold; text-align:left; color: #ffffff; text-transform:uppercase; border:0px;}
.listtable_header a {color:#ffffff;}
.listtable td {border:0; border-top:1px solid #c3bfa7; padding:4px; margin:0;}
.listtable tr:hover {background-color:#edf8ff;}
.listtable_buttoncolumn {width: 70px; font-size: 9px;}
.listtable_buttoncolumn input { font-size: 10px; padding: 2px; color: #000; border-width: 1px; border-style: solid; border-color: #d4d4d4 #949494 #828282 #c2c2c2;}
.listtable_checkboxcolumn {padding:0px; width:1px;}
.listtable_checkboxcolumn input {margin-left:-2px; margin-top:-3px;}
.listtable_row_on {background-color:#e4f1ff;}
.listtable_row_off {background-color:#ffffff;}

/************************************************
Lists without table grid, like News
************************************************/
.listcomponent {border:solid 0px #ffffff;}
.listcomponent th {display:none;}
.listcomponent td {border:0px; padding:4px 4px 10px 0; margin:0px;}
.listcomponent img {margin: 0;}


/************************************************
Image-using item list 
************************************************/
.righttable {width:200px; border:1px solid #007799; border-collapse: separate;}
.righttable th {background-color: #007799; padding:3px; border:0; text-transform:uppercase; font-weight: bold; text-align:left; color: #ffffff; height:20px; font-size:9px;}
.righttable_header a {color:#ffffff;}
.righttable td {border:0; border-top:1px solid #dadada; padding:3px; margin:0; font-size:10px;}
.righttable tr:hover {background-color:#fffcee;}
.righttable_buttoncolumn {width: 30px; font-size: 9px;}
.righttable_buttoncolumn input { font-size: 10px; padding: 4px; color: #000000; border-width: 1px; border-style: solid; border-color: #D4D4D4 #949494 #828282 #C2C2C2;}
.righttable_checkboxcolumn {padding:0; width:1px;}
.righttable_checkboxcolumn input {margin-left:-2px; margin-top:-3px;}
.righttable_row_on {background-color:#e4f1ff;}
.righttable_row_off {background-color:#ffffff;}

/*************************************************
Component detail 
*************************************************/
.component_title {padding:10px 0px 10px 0px; margin:0px 0px 2px 0px; width:95%; font-family: Georgia, serif; font-size:30px; line-height:32px; font-weight: normal; color: #454545; letter-spacing: -0.04em;}
.component_subtitle {padding:0px 0px 10px 0px; margin:0px 0px 2px 0px; width:95%; font-family: Georgia, serif; font-style: italic; font-size:16px; line-height:18px; font-weight: normal; color: #454545;}
.component_back {margin:0px 0px 10px 0px;}
.component_listitem {padding: 0 0 15px; width:400px;}
/**** MT: changed width from 550px to 700px on 081613 ***/
.component_listitem div {padding: 0 0 4px; width:700px; display:block; text-align:left;}
.component_listitem_header {font-weight: bold; vertical-align: top; display:block; float:left; padding-right:5px;}
/*** MT: changed display from block to inline, and float from left  to none on 081613 to arrange the layout of Date and Location to appear in proper sequence  ****/
.component_listitem_content {width:300px; vertical-align: top; display:inline; float:none;}
.component_content p {font-size: 11px; line-height: 20px;}
/*** MT: new style added on 08/16/13 to hide "Calendar Review" subhead */
.component_title_review {
display: none;
}

/*****************************************
Calendar month view

.calendar_filter {margin:5px 0px 20px 0px; text-align:center;}
.calendar_filter select {font-family: Verdana, Arial, Helvetica, Sans-Serif; font-size:11px; width:180px;}
.calendar_wrapper {text-align:center; margin:auto; padding:0px; width:100%;}
.calendar {width:90%; border: 1px solid #fff; margin:auto; padding:0px 0px 0px 0px;}
.calendar_dayheader {height: 1px; color: #fff; background-color: #00639c; font-weight: bold; font-size: 9px; padding: 2px 0px; text-transform: uppercase; border: 1px solid #00639c;}
.calendar_selector {color:#ffffff; background-color:#efdC9e; font-size:9px; font-weight:bold;		}
.calendar_title td {padding: 10px 0px 12px 0px; background-color:#ffffff; font-family: Verdana, Arial,Helvetica,san-serif; font-size: 22px; font-weight: bold; color: #001c3e; width:60%;}
td.calendar_nextprev {width:200px !important;}
.calendar_nextprev a {font-size:10px; color:#1875b6 !important;}
.calendar_nextprev a:hover {border-bottom:#1875b6 dotted 1px;text-decoration: none;}
.calendar_day,
.calendar_today,
.calendar_weekendday, 
.calendar_selectedday, .calendar_othermonthday 
 {text-align:left; vertical-align: top; font-family: Arial, Helvetica, san-serif; font-size:18px; line-height:25px; font-weight:bold; padding: 3px 3px 3px 3px; width: 95px; height:100px; border: 1px solid #00639c;}
.calendar_day a,.calendar_today a,.calendar_weekendday a,.calendar_selectedday a, .calendar_othermonthday  a {color: #1875b6; padding: 0 5px 8px 5px; margin:0px 0;}
.calendar_day, .calendar_weekendday {background: #fff; color:#42566e;}
.calendar_othermonthday {background:#dcdcdc; color:#646d79;}
.calendar_today {background: #d7ebfe; color:#001c3e;}
.calendar_selectedday {background-color:#f2C532; color:#999999;}
.calendar_eventtime {color:#666666; font-size:10px; font-weight: normal; line-height:11px; margin:0px 0 0 0; padding: 0px 0 0 0 !important;}
.calendar_eventlink {font-size:10px; font-weight: normal; line-height:11px; display:block; padding:0px 0 0px 0; margin:0px 0 ;}
.calendar_allinone .listtable {width:720px;}
.outlookcalendar {}
*****************************************/

/************************************************
Site map
************************************************/
.sitemap {  border:solid 0 #000;   background-color: #fff;   padding-left:15px;}
.sitemap img {padding: 0 5px 0 0; margin: 0;}
.rootnode,.parentnode,.leafnode {padding:0px;}
.rootnode {font-weight: bold; color: #625C4D;} 
.rootnode a,
.parentnode a { color: #625C4D; font-weight: bold;} 
.sitemap_file {list-style-image: url("../_gfx/_SiteMap/file.gif");	}
.backtotoplink {padding:10px 0 10px 5px; font-size: 10px;}

/************************************************
Link List
************************************************/
.link_name a {padding-left:10px; background-image:url("../_gfx/cmn/link_list_arrow.gif"); background-repeat:no-repeat; background-position: 0 4px;}
.link_content {padding-left:10px; display:block;}
.link_content img {margin-left:0px; margin-bottom:0px; margin-top:0px;}

/* Component list pagers*/
.listtable_pager,
.listcomponent_pager,
.listfaq_pager {text-align:right; font-size:10px; font-weight:bold; padding-bottom:10px; padding-top:10px; border-top:1px solid #bcb599;}
.listtable_pager span,
.listcomponent_pager span,
.listfaq_pager span {font-size:10px;}
.listtable_pager a,
.listcomponent_pager a,
.listfaq_pager a {display:inline; padding:3px; border:1px solid #bcb599; border-top:0px; background-color:#f4f9fd; text-decoration:none; background-image:url("../_gfx/cmn/search_link_bg.gif"); background-repeat: repeat-x; _background-position:0 1px; /* for IE only */ font-size:10px; font-weight:bold;}
.listtable_pager a:hover,
.listcomponent_pager a:hover,
.listfaq_pager a:hover {background:#ffffff; border-top:1px solid #b2d2e9;}
.listcomponent_pager {text-align:left;}

/************************************************
Link List
************************************************/
.listlink {width:540px; padding:0; border-collapse: separate;}
.listlink td {padding:4px; border:none;}

/***********************************************
E-Notifier
***********************************************/
.tag_div {padding: 10px 0 20px;}
.area_div {padding: 5px 0;}

/******************************************
Photo Album 
******************************************/
.album_item {margin-bottom:20px; text-align:center;}
.album_thumb {background-position: top center; background-image: url("../_gfx/album/exported_group.jpg"); overflow: hidden; width: 260px; height:152px; max-height:130px; padding-top:22px; background-repeat: no-repeat; }
.album_thumb img {width: 160px; height: 110px; position:relative; left:0px; border:0px; display:block; margin:0px auto; overflow: hidden;}
.album_name {text-transform:uppercase; font-weight:bold;}
.album_details {font-size:9px;}
.photo_item {padding:20px; text-align:center; vertical-align:top;}
.photo_thumb {background-position: top center; background-image: url("../_gfx/album/single_photo.gif"); overflow: hidden; width:240px; height:240px; background-repeat: no-repeat; padding-top:50px; max-height: 190px; margin: 0 auto;}
.photo_thumb img {display:block; overflow: hidden; margin: 0 auto;}
.photo_detail {text-align:center;}
.photo_name {}
.slideshow_link {float:right; font-weight:bold; font-size:smaller; width:140px; background: #082956 url("../_gfx/int/form_button.gif") top repeat-x;    	border: 1px solid #031b37;  text-align:left; margin:0px 0px 0px 10px;}
.slideshow_link a {display:block; padding:4px 3px 4px 27px; color: #fafafa; background-image:url("../_gfx/album/slideshow.gif"); background-repeat:no-repeat; background-position:7px 7px; font-size:9px;}
.slideshow_nav {text-align:center;}
.rss_button {float: right; margin:-30px auto 0px auto;}

/************************************************
Map
************************************************/

.map_size {width:500px; height:300px;}

/**************************
        SAFARI 3 hacks
**************************/

@media screen and (-webkit-min-device-pixel-ratio:0) {
}

/*****************************
	Firefox3 Specific  (Its sad that we need these now)
******************************/

html>/**/body .foo, x:-moz-any-link, x:default {  }

/************************************************
Left navigation 
************************************************/
.leftnav {
	width: 215px;
	min-height: 700px;
	float:right;
	/* note: see LINE 789 .breadcrumb wrapper
	this background image overlapped breadcumb bkgd image */
	background: url("../_gfx/dept_images/breadcrumb_backg.png") repeat-x scroll 0% 0% transparent;
	/* formerly background:url("../_gfx/dept_images/leftnav_backg.jpg") no-repeat top; */
	padding: 0;
	font-size:11px;
	font-family: Arial, Helvetica, Sans-Serif;
	position:relative;
	/*margin-right:8px;*/
}

.leftnav span{padding-left: 0px;/* formerly 9px; */ padding-right: 5px; line-height:1.3em; /*display:block;*/}
.leftnav a {display:block; padding: 5px 5px 5px 7px; line-height: 24px; color: #777; /* formerly #1875B6; */ text-decoration:none;}
.leftnav a:hover, .leftnav a:active, .leftnav a:focus{color: #454545; text-decoration: none; border-bottom:0px;}

 /* left nav top title area */
.leftnav_node_wrapper_root_parent, .leftnav_top {
height:30px; 
border-bottom:medium none !important;
color:#555; /* formerly #777 */
font-family: Arial, Helvetica, sans-serif;
font-size:1.2em; /* formerly 1.1em */
font-weight:bold; /* formerly normal */
line-height:1.2em;
padding:20px 0 0 10px; /* formerly 20px 0 0 13px */
text-transform:uppercase;
}

/* .leftnav_top::before { 
  content: "You are here » ";
  color: #f90;
} */

.leftnav_node {background-color: transparent; border-bottom:1px dotted #ccc;}
.leftnav_node a:hover, .leftnav_node a:active, .leftnav_node a:focus {background-color: #cde9fe; }

.leftnav_node_wrapper {border-bottom:0px dotted #ccc; /* margin-left:formerly 10pxpx; */ margin-left:0px; background-color:transparent;}
.leftnav_node_wrapper .leftnav_node { background-color: #f8f6f8; /* foremrly #F2FAFF; */}
.leftnav_node_wrapper .leftnav_node a {color: #1875B6; /* padding-left:12px; */}
.leftnav_node_wrapper .leftnav_node a:hover, .leftnav_node_wrapper .leftnav_node a:active, .leftnav_node_wrapper .leftnav_node a:focus {color: #1875B6; background-color:#cde9fe; text-decoration: none;}

.leftnav_node_wrapper a span {display: block;}
.leftnav_node_wrapper .leftnav_node_haschildren  {border-bottom:dotted 1px #ccc; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px #FFF;}
.leftnav_node_wrapper .leftnav_node_haschildren a {color:#1875B6;font-weight:bold;}/*MCW added bold*/
.leftnav_node_wrapper .leftnav_node_haschildren a:hover, .leftnav_node_wrapper .leftnav_node_haschildren a:active, .leftnav_node_wrapper .leftnav_node_haschildren a:focus {color:#1875B6;text-decoration: none; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px inherit;}

.leftnav_node_wrapper_root {margin-left:0px; /* formerly margin-left:10px; */ background-color:transparent; font-weight:bold;}
.leftnav_node_haschildren a:hover span {color:#1875B6;}

.leftnav_node_wrapper_root .leftnav_node_haschildren {border-bottom:dotted 1px #ccc; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px inherit;}
.leftnav_node_wrapper_root .leftnav_node_haschildren a {color:#1875B6;}
.leftnav_node_wrapper_root .leftnav_node_haschildren a:hover, .leftnav_node_wrapper_root .leftnav_node_haschildren a:active, .leftnav_node_wrapper_root .leftnav_node_haschildren a:focus {background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px inherit;}

.leftnav_node_iscurrent {background-color:#555; /* changed from original #517a8c by MT 06/10/14 */  border-bottom:0px solid #fff;}/*selected color - lighter */
/* .leftnav_node_iscurrent::after { 
  content: " < ";
  color: #f90;
  font-weight:bold;
  font-size:1.2em;
} */
.leftnav_node_iscurrent a span {color: #fff; font-weight:bold;font-size: 1.0em; line-height:1.2em;}
.leftnav_node_iscurrent .leftnavlevel0 {font-weight:bold; font-size:1.0em; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px 5px inherit;}
.leftnav_node_iscurrent .leftnavlevel1 {font-size:1.0em; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px 5px inherit;}
.leftnav_node_iscurrent .leftnavlevel2 {font-size:1.0em; background: url("../_gfx/nav/arrow_down.gif") no-repeat 5px 5px inherit;}
.leftnav_node_iscurrent .leftnavlevel3 {background: url("../_gfx/nav/arrow_right.gif") no-repeat 0 5px inherit;}

/*
.leftnavlevel0 {}
.leftnavlevel1 {}
.leftnav_node .leftnavlevel1  { background: url("../_gfx/nav/arrow_right.gif") no-repeat 0 5px transparent;}
.leftnav_node .leftnavlevel1  a {color: #fff;} 
.leftnavlevel2 {;}
.leftnav_node .leftnavlevel2  { }
.leftnav_node .leftnavlevel2  a {color: #fff;} */

.leftnav_bottom {height:80px; margin-right:12px;/*padding:5px;*/ float:right}
.leftnav_bottom li { list-style:none; padding:0 5px 0 5px;}
.leftnav_bottom .facebook {float:left;}
.leftnav_bottom span a {padding:0; text-align:center; line-height:9px; text-decoration:underline; }

/************************************************
FAQ List
************************************************/
.listfaq {width:540px; padding:0; border-collapse: separate; background-color:#f4f9fd; border:1px solid #bcb599;}
.listfaq td {padding:4px; border:none;}
.listfaq_answers {width:540px; padding:0; border-collapse: separate;}
.listfaq_answers td {padding:4px; font-size: 12px; line-height: 20px;}
.listfaq_q {font-weight:bold;}
.listfaq_a p, .listfaq_a ul {margin-top:0px;}
.listfaq_a_left {float:left; width:20px; font-weight:bold;}
.listfaq_a_right {float:left; width:445px; margin:0px 0px 0px 0px;}


/*************************************
=== Custom for planning dept style here ===
**************************************/
    .contact {
    font-size: 11px;
    line-height: 1.4em;
    }
    .contact a {
    font-size: 11px;
    line-height: 1.4em;
    text-decoration: none;
    }
	
	hr {color:#DFEDF4;} 

form{padding:0px;margin:0px;}

.header { background-image:url("../_gfx/dept_images/header_2.png");
background-position:center top;
background-repeat:no-repeat;
clear:both; 
/*height:98px; */
margin:0px;}

.logo {	float: left;
	width: 350px;
	height: 60px;
	position: relative;
	left:0;
	margin-top: 20px;
}

ul.language {float: right;
	width: 350px;
	height: 26px;
	right:0px;
	margin: 0px;
	padding:0;
}
ul.language li {float:right; list-style:none;}

.searchbox {
	float: right;
	width: 196px; 
	height: 32px;
	/*position: relative;*/
	right:5px;
	/*margin-top: 42px;
	padding: 5px 28px 0 5px;*/
	left: 360px;
}
/*.searchbox_button {vertical-align:top; width: 22px; height:22px;}*/
/*.searchbox_textbox {height:18px; width:160px; border:1px solid #999; padding:2px; font-size:11px; color:#999999;}*/

.mainSpan{margin-top:20px;}
.width_container{position:relative;}
.header, .mainSpan, .dropshadow, .mainSpan_wrapper .width_container, .mainSpan_wrapper_noleftnav .width_container, .mainSpan_wrapper_review .width_container  {width:974px;}
.mainSpan_wrapper_noleftnav .width_container, .mainSpan_wrapper_review .width_container {padding:0px; margin:0px; }
.mainSpan_wrapper .width_container, .mainSpan_wrapper_home .width_container {margin-left:0px;}

/*no left nav page */
.mainSpan_wrapper_noleftnav .content_wrapper2{display:block; margin:0; padding-top: 0;vertical-align:top;}

.mainSpan_wrapper_noleftnav .container {margin: 0px 0px 0px 0px; padding: 0px 10px 0px 10px; width: 780px;}
.mainSpan_wrapper_noleftnav .breadcrumb_wrapper {background: none;}
.mainSpan_wrapper_noleftnav .content {background-color:#ffffff;width:780px; padding: 10px 0px 10px 20px;}
.mainSpan_wrapper .content_wrapper2, .mainSpan_wrapper_review .content_wrapper2  {display:block;}

.mainSpan_wrapper .content_wrapper2:after { 
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}
 /*
.mainSpan_wrapper_home .container{
	width:972px;	
	padding:0;
	margin:0;}

.mainSpan_wrapper .container{
	background:#FFFFFF;
	width:780px;
	margin-top:0; homepage contents height is here 
	padding: 0 10px 30px 10px;
	float:left;}*/

.mainSpan_wrapper_home .width_container, .mainSpan_wrapper .width_container, .mainSpan_wrapper_noleftnav .width_container, .mainSpan_wrapper_review .width_container {
	
	/*background: url("../_gfx/dept_images/contents_backg.png") repeat-y top;*/
	background: #ffffff;
	width:972px; /* changed form 974px to compensate for loss of home graphic in main nav menu MT 06/10/14 */
	padding:0;
	border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
	}
	
.mainSpan_wrapper .container h1 {
	/* color: #4382A3; hidden by MT 06/10/14 to activate color style in editor.css/line 99 re contentheader h1 */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	/* letter-spacing: -0.05em; */
	font-weight: bold;
	line-height: 1.1em;
clear:both;}

.mainSpan_wrapper .container h2 {
  	color:#454545;
	font-family:Georgia, 'Times New Roman', Times, serif;
  	font-size:20px;
	font-weight: normal;
	letter-spacing: -0.02em;
  	padding:15px 0 10px 0;
	line-height:1.25em;
	/* display: inline-block; */
	white-space:normal;
	clear:none;
	}

.mainSpan_wrapper .container h3 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
clear:both;}

.mainSpan_wrapper .container h4 {
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
clear:both;}

.mainSpan_wrapper .container h5 {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
clear:both;}

/* Planning Home Page Style copy & paste from sfplanning.css */

#slide { width:390px; height: 296px; vertical-align:top;}
#slide p img {padding:0; margin:0;}

/*news section*/
.box_container {width: 390px; vertical-align:top; font-family: Arial, Helvetica, sans-serif; /* background:url("../_gfx/dept_images/home_news_btm.gif" */) no-repeat bottom /* previously #e7e6e5 */; padding:0; margin:0; float:left;padding-top:10px;}
.box_container .rss {float:right; padding:15px; /* added 092215 to offset RSS hyperlink */ text-indent:-2000px;}
.box_item {margin:8px 15px 8px 8px; background-color: #fff /*previously #F5F5F5 */; padding:0px 0px 6px 0px; clear:both; border-bottom: 1px dotted #ccc;}

/* this is .planningnews h1 */
.box_title {
    color: #009AC1;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
	font-weight: normal;
    line-height: 1.25em;
	letter-spacing: -0.02em;
	margin:10px;
	width:150px;
	float:left;
}

.box_item_title {
	padding-left: 5px;
	margin-right: 10px;
}

/* this is .planningnews h2 a*/
.box_item_title a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 14px;
	text-decoration: none;
	letter-spacing:-0.3px;
}
/*this is .plansprograms_item*/
.box_item_desc {
	color: #333333;
	font-size: 12px;
	line-height: 16px;
	padding:0 5px 0 5px;
}

/* this is .planningnews_date */
.box_item_date{
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	fontw-weight: normal;
	padding:1px 5px 4px 5px;
	text-transform: uppercase;
}

/* this is .planningnews_viewmore a */
.box_bottomlink {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding:0 10px 10px 10px;
	width:40%;
	position:relative;
	left:220px;
}

/* homepage editable area */
.content_holder {float:right; margin-top:-296px;}

.plansprograms h1 {
	color: #ff3399;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.plansprograms h2 a {
	color: #ff3399;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
 {
}
.plansprograms_item a {
	color: #1875b6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
}
.plansprograms_viewmore a
{
	color: #666666;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}


/* footer area */
.footer_wrapper{display:block; margin:0 auto; padding:0; clear:both; font-family:Arial, Helvetica, sans-serif; overflow:hidden;}
.footer1 {width: 100%; height: 34px; margin:0 auto; background-color:#454545; border-bottom: #454545 solid 2x;/* background: url("../_gfx/dept_images/footer_16_1.jpg") bottom center; hidden by MT 06/13/14 */}
.footer1 ul {text-indent:10px; padding: 15px 0 0 30px; /* hidden by MT 06/13/14 height:30px; width: 900px; */} /* must match specs in editor.css as well MT 06/13/14 */
.footer1 ul li {font-size:9px; color:#666; float:left; list-style:none; font-family: Arial, Helvetica, sans-serif; margin:0 0 0 0px;}
.footer1 ul a {color:#666;}
.gotop { float: right; position:relative; top:-5px; /* top changed from -25px to -5px by MT 06/13/14 */  right:25px;}

.footer2 ol li {font-size:12px; color:#CCC; line-height:1.25em; padding-bottom: 10px; font-family:Arial, Helvetica, sans-serif;}
.footer2 {width: 974px; height: 111px; margin:auto; background:url("../_gfx/dept_images/footer_16_2.jpg") top center; font-family:Arial, Helvetica, sans-serif;}
.footer2 table {padding:50px 20px 5px 20px; text-align:left; vertical-align:top;}
.footer2 table td { vertical-align:top; font-family:Arial, Helvetica, sans-serif; color:#CCC;}
.footer2 table img {margin:0; float:left;}
.footer2 table a {color:#B4CBDA; text-decoration:none;}
.footer2 .address {font-size:12px; color:#CCC; font-family:Arial, Helvetica, sans-serif; line-height:1.35em;}


/*.leftnav {display:none;}*/

.breadcrumb_wrapper {padding-top:10px; height: 20px; background:url("../_gfx/dept_images/breadcrumb_backg.png") repeat-x; width: 738px;/*keep having to shorten this for Chrome *//* formely width:100%; see LINE 431 .leftnav re bkgd image */}

.mainSpan_wrapper_noleftnav .title {overflow:hidden;}

/* accessibility bar icon style */
#toolbar {
	height: 20px;
	text-align: left;
	vertical-align: middle;
	line-height: 1em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-variant:small-caps;
	color: #6A655C;
	font-weight: normal;
	font-size: 0.8em;
	margin-right: 10px;}

#toolbar ul {
	margin:0;
	padding:0;}

#toolbar li {
	color: #6A655C;
    list-style: none;
    float: right;
	padding-left:3px;
	margin:0;}

#toolbar_text a {
	background: url("../_gfx/cmn/textonly.gif") no-repeat top right;
	width: 17px;
	height:17px;
	display: block;
	overflow:hidden;
	text-indent:-9999px;
	border-bottom: 0 none;}

#toolbar_text a:hover, #toolbar_text a:active, #toolbar_text a:focus {width:17px;background-position:0px -19px;}

#toolbar_font_sm a {
	background: url("../_gfx/cmn/size-.gif") no-repeat top right;
	width: 17px;
	height:17px;
	display: block;
	overflow:hidden;
	text-indent:-9999px;
	border-bottom: 0 none;}

#toolbar_font_sm a:hover, #toolbar_font_sm a:active, #toolbar_font_sm a:focus {width:17px;background-position:0px -19px;}

#toolbar_font_lg a {
	background:url("../_gfx/cmn/sizeplus.gif") no-repeat top right;
	width: 17px;
	height:17px;
	display: block;
	overflow:hidden;
	text-indent:-9999px;
	border-bottom: 0 none;}

#toolbar_font_lg a:hover, #toolbar_font_lg a:active, #toolbar_font_lg a:focus {width:17px;background-position:0px -19px;}

/*************************
sfgov plugins icons
***************************/
.sf_plugins_nav ul{padding:0px;margin:0px;}
.sf_plugins_nav ul li{padding:0px;margin:0px;}
#sf_plugins .sf_plugins_nav{width:244px;height:23px;float:left;margin:0px;clear:both;}
#sf_plugins .sf_plugins_nav li{margin-top:10px; padding:0; float:left}
#sf_plugins .sf_plugins_nav li, #sf_plugins .sf_plugins_nav a{display:block;text-indent:-9999px;overflow:hidden;}
#sf_plugins .sf_plugins_nav a{height:23px; background-image:url("../_gfx/sfgov/plugins_icons_final.png"); background-repeat:no-repeat;}
#sf_plugins_title {
	width:97px;
	background-position:0px 0px;
	height: 23px;
	background: url("../_gfx/sfgov/plugins_icons_final.png") no-repeat ;
}
#sf_plugins_acrobat a{padding:0px; margin:0px; width:27px; background-position:-97px 0px;}
#sf_plugins_acrobat a:hover, #sf_plugins_acrobat a:active, #sf_plugins_acrobat a:focus{background-position:-97px -23px;}
#sf_plugins_flash a{padding:0px; margin:0px; width:27px; background-position:-127px 0px;}
#sf_plugins_flash a:hover, #sf_plugins_flash a:active, #sf_plugins_flash a:focus{background-position:-127px -23px;}
#sf_plugins_powerpoint a{padding:0px; margin:0px; width:27px; background-position:-157px 0px;}
#sf_plugins_powerpoint a:hover, #sf_plugins_powerpoint a:active, #sf_plugins_powerpoint a:focus{background-position:-157px -23px;}
#sf_plugins_excel a{padding:0px; margin:0px; width:27px; background-position:-187px 0px;}
#sf_plugins_excel a:hover, #sf_plugins_excel a:active, #sf_plugins_excel a:focus{background-position:-187px -23px;}
#sf_plugins_word a{padding:0px; margin:0px; width:27px; background-position:-217px 0px;}
#sf_plugins_word a:hover, #sf_plugins_word a:active, #sf_plugins_word a:focus{background-position:-217px -23px;}

/************************************************
Lists without table grid, like News
************************************************/
.listcomponent
{
	border:solid 0px #ffffff;
}

.listcomponent th
{
	display:none;
}

.listcomponent td
{
	border:0px;
	padding:4px 4px 10px 0;
	margin:0px;
}

.listcomponent img {margin: 0;}


form{
	margin: 0;
	padding: 0;
}

/** MT: New styling for Calendar components in EVENT lists 081613 **/

.calendar_Controls {
	display: none;
}

#calendarControls {
	font-size: 12px;
	padding-top: 10px;
}

#calendarControlsBottom {
	font-size: 12px;
	padding:	10px 0px 10px 0px;
}

.googleCal {
	padding-left:10px;
}
.yahooCal {
	padding-left:10px;
}
.outlookcalendar {
	padding-left:0px;
}

/** END styling EVENT list **/

/************************************************
Table Agenda layout borrowed from COIT agenda pages www.sfcoit.org/meeting.aspx?page=19 
************************************************/

.meeting_box_top {
	background-color:#ffffff;
	color:#336699;
	border-bottom:1px solid #dddddd;
	text-transform:capitalize;
}
.meeting_box {
	width:740px;
}
.meeting_box_years {
	border-right:1px dotted #dddddd;
	vertical-align:top;
	width:100px;
}
.meeting_box_meetings {
	vertical-align:top;
}

.meeting_box_united {
	padding-left: 10px;
}

.meeting_box_united td {
	padding: 7px 0px 7px 10px;
}

.notapplicable  {
	color: #CCC;
}

.language a[href="#bottom"] img {
	width: 205px !important;
}

/* .meeting_box_united table td, td a {
	font-size: 10px;
	line-height: 14px;
	color: #F0F;
} 

.meeting_box_meetings table td, td a {
	font-size: 11px;
	line-height: 16px;
	color: #F00;
} 
.meeting_box_meetings .meeting_box_united .meeting_item td a {
	font-size: 11px;
	line-height: 16px;
	color: #0F0;	
} */

/*************************
Additional Styles
***************************/
body {
    background: #F0F0F0;    
}
.header {
    background-color:transparent;
    background-image: none;
    clear:both;
    margin-top:10px;
    position: relative;
    float: right;
	height:2px; /* added by MT 06/10/14 */
} 
/* #staff-directory {
    background-image:url("../../../www.sf-planning.org/ftp/_gfx/home/staff_directory_138x12px.gif");
    display: block;
    text-indent:-9999px;
}
thanks to http://ran.ge/r/aaroncampbell/ */


.searchbox{height:35px;width:330px; margin-top:-5px; /* changed margin-top from -25px MT06/10/14 */}
.searchbox_textbox{background:#F6F6F6;width:215px;height:28px;border: 0 none;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 2px;}
.searchbox_button{margin-left:3px;}
.mainSpan{margin-top:0;}
#sf_footer{margin-top:30px;}
#zone-wrapper img, #sf_footer img{border:0;}
#sf_footer img {margin-bottom: 10px;}
.copyright {
    font-size: 70%;
    color: rgb(103, 123, 135);
    font-family: sans-serif;
}
.mainSpan_wrapper, .mainSpan_wrapper_home, .mainSpan_wrapper_noleftnav, .mainSpan_wrapper_review{position:relative;}
#agencytitle{position:absolute;top:0;}
#agencytitle span{visibility:hidden;}
#agencytitle a { color:#fff; font-size: 20px; text-decoration: none;}

p.site-name {color: #fff;
    font-size: 32px !important; /* increased from 24px by MT 06/10/14 */
    text-decoration:none;    
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.1; /* changed from 1.3 by MT 06/10/14 */
    text-shadow: 2px 2px 0 #2E2E2E;
	margin:-20px 0px 5px 13px !important; /* hidden by MT 06/10/14 padding-bottom:15px; */}

.site-name a {
    color: #fff;
    font-size: 32px; /* increased from 24px by MT 06/10/14 */
    text-decoration:none;    
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.1; /* changed from 1.3 by MT 06/10/14 */
    text-shadow: 2px 2px 0 #2E2E2E;
}
.site-name a:hover{text-decoration:none !important;}
/************************************************
modified a:visited to display white instead of blue - martin.thibodeau@sfgov.org 06/10/14
************************************************/
.site-name a:visited{text-decoration:none !important; color:#fff !important;}

.site-city-slogan img {margin-bottom: 5px;}

.logo-img img {margin: 20px 0 5px 0;}

.header_left {float:left;}

#dropdownmenu {clear:both;}

.header-wrapper {
    display: inline-block;
	width: 100%;
	/* background: url("../_gfx/sfgov/gray_rounded_top_border.png") no-repeat scroll left bottom transparent;
    padding-bottom: 25px;
	margin-bottom: 10px; hidden by MT 06/10/14 */
}
