/*** ESSENTIAL STYLES ***/

/* this style sets background color for main nav */ 
#dropdownmenu{
	/* background: url("../_gfx/dept_images/nav_backg.gif") no-repeat; hidden by MT 06/10/14 */
	height:40px; 
	z-index:999;
	padding-top:0px;
	margin: -10px 0 0 0px;
	background-color:#454545 /* orange was a bit strong #ff7500; added by MT 06/10/14 */
	
}

/*this is the style for dropdown menu list */

.dropdownmenu, .dropdownmenu * {
	/* margin:			0; hidden by MT 06/10/14 */
	padding:		0;
	list-style:		none;
	z-index:		999;
	border:0;
	height: 100%;
	display:block;	
	font-size:13px;
	/* font-weight:bold !important; */
	color:#ffffff;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	/* hidden by MT 06/11/14 text-shadow: 1px 1px 0px rgb(46, 46, 46); */
}

.dropdownmenu ul {
	position:		absolute;
	margin-top:-1px;
	top:			-999em;
	width:100%;
	visibility: hidden;
 /* left offset of submenus need to match (see below) */
}
.dropdownmenu li {
	float:			left;
	position:		relative;
}

.dropdownmenu ul li{
	background-color:#3c3c3c;
	display:inline;
	margin:0 1px 0 0;
	padding-top:0;
	cursor: pointer;
	text-decoration:none;
	height:auto;
	z-index:100;
}

div#dropdownmenu > ul > li > a{ /*background:url("../_gfx/dept_images/nav_n_backg.gif") repeat-x; */text-align: center; font-family: Arial, Helvetica, sans-serif; color:#fff; font-weight:bold; font-size:0.99em; text-transform:uppercase; /* hidden by MT 06/11/14 letter-spacing:0.03em; */} /* this is the style for nav*/

div#dropdownmenu > ul > li a.dropdownrootitem1{/* width:46px; hidden by MT 06/10/14  background:url("../_gfx/dept_images/home_n.gif") no-repeat;*/ text-indent:-5000px;}

div#dropdownmenu > ul > li > a:hover {/* background:url("../_gfx/dept_images/nav_h_backg.gif") repeat-x; hidden by MT 06/10/14 */ background-color: #f90; /* background-color added by MT 06/10/14 */
color:#fff; text-decoration:none; border-bottom:0px;}
/* this style sets background color for dropdown highlight */ 
div#dropdownmenu > ul > li a:current{/* background:url("../_gfx/dept_images/nav_h_backg.gif") repeat-x; hidden by MT 06/10/14 */ 
background-color:#454545; /* formerly #F90; /* background-color added by MT 06/10/14 */
color:#fff; text-decoration:none; border-bottom:0px;}
div#dropdownmenu > ul > li a:hover.dropdownrootitem1, div#dropdownmenu > ul > li a.current.dropdownrootitem1{/* width:55px; background:url("../_gfx/dept_images/home_h.gif") no-repeat; hidden by MT 06/10/14 */ padding-right:1px;}

div#dropdownmenu > ul > li > a:focus {color:#fff; background-color:#454545; /*  added background-color MT 06/10/14 */}
/* this style sets hover dropdown color */
div#dropdownmenu > ul > li > a:active{text-decoration:none;color:#fff; background-color:#454545;}

div#dropdownmenu > ul > li > ul { display:block; background-color:#454545; top:40px; width:186px; z-index:10000;}
div#dropdownmenu > ul > li > ul > li {width:inherit;}
div#dropdownmenu > ul > li > ul > li > a {font-weight:normal; border-bottom:1px dotted #6c6c6c; color:#fff; text-align:left; padding:8px 4px 8px 15px;	background-color:#454545; width:186px;} /* this is the style for dropdown menu*/
div#dropdownmenu > ul > li > ul > li > a:focus {color:#fdb913; /*formerly #1875B6; */}
div#dropdownmenu > ul > li > ul > li > a:hover {
	/*background-image:url("../_gfx/nav/arrow_right.gif");*/
	background-position: left;
	background-repeat:no-repeat;
	color:#fff;
	background-color:#F90; /* changed from dusty blue #6da6be by MT 06/10/14 */
}

.dropdownmenu a {
	display:		block;
	position:		relative;
}

.dropdownmenu li a:hover, .dropdownmenu li a:focus, .dropdownmenu li a:active  {
	visibility: inherit; /* fixes IE7 'sticky bug' */
	color:#fff;
	text-decoration:none;
	border-bottom:none;
	font-weight:bold;}

.dropdownmenu li a:visited {text-decoration:none; color:#fff;}

.dropdownmenu li:hover ul,
.dropdownmenu li.sfHover ul {
	left:			0;
	top:			44px; /* match top ul list item height */
	z-index:		1;
}
ul.dropdownmenu li:hover li ul,
ul.dropdownmenu li.sfHover li ul {
	top:			-999em;
	z-index:-1;

}
ul.dropdownmenu li li:hover ul,
ul.dropdownmenu li li.sfHover ul {
	font-weight:normal;
	left:			15em; /* match ul width */
	top:			10px;
}
ul.dropdownmenu li li:hover li ul,
ul.dropdownmenu li li.sfHover li ul {
	top:			-999em;
}
ul.dropdownmenu li li li:hover ul,
ul.dropdownmenu li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

/*a:hover.dropdownitemlevel1, a:hover.dropdownitemhaschildlevel1, a:hover.dropdownitemlevel2,
a:focus.dropdownitemlevel1, a:focus.dropdownitemhaschildlevel1, a:focus.dropdownitemlevel2 {
	background: #D0EEFE url("../_gfx/nav/arrow_right.gif") no-repeat left center;;
	color:#1875B6;}

#dropdownmenu a.dropdownitemlevel1, #dropdownmenu a.dropdownitemhaschildlevel1, #dropdownmenu a.dropdownitemlevel2{
	padding:5px 4px 0px 15px; text-align: left !important;
}*/
