@charset "utf-8";
.content p, .content ul, .content li, .content textarea, .content, td, .container td,
.calendar_eventtime, 
.calendar_eventlink,
.listtable td,
.listcomponent td,
.filter select
{font-size: 13px; margin:0;}
.content ul li {padding: 2px 0px;line-height: 1.5;}
.downloadmessage p {font-size:9px;}
.home_events a, .home_news a{ font-size: 10px;}
.contentheader h2, subtitle {font-size:1.0em;line-height:1.2em;}
